<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}navbar{% endblock title %}</title>
  </head>
  <body>
    <nav class="flex justify-between px-8  shadow-md py-4">
      <h1 class="text-3xl font-bold text-blue-700">EMS</h1>
      <ul class="flex justify-center items-center text-lg">
      <li class="mr-6 text-gray-700 hover:text-blue-700 font-medium cursor-pointer"><a href="#">Home</a></li>
      <li class="mr-6 text-gray-700 hover:text-blue-700 font-medium cursor-pointer"><a href="#">About</a></li>
      <li class="mr-6 text-gray-700 hover:text-blue-700 font-medium cursor-pointer"><a href="#">Category</a></li>
      <li class="mr-6 text-gray-700 hover:text-blue-700 font-medium cursor-pointer"><a href="#">Events</a></li>
      <li class="mr-6 text-gray-700 hover:text-blue-700 font-medium cursor-pointer"><a href="#">Dashboard</a></li>
      </ul>
    </nav>
  </body>
</html>
